.placeholder {
    color: grey;
    background-color: white;
    pointer-events: none;
}

[contenteditable] {
    outline: none;
}


#chat-card {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.329);
    position: fixed;
    bottom: 20px;
    position: absolute;
}