.sidebar-opener {
    cursor: pointer;
}

.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(232 232 232); // #FF4455;
    transform: translateX(-100%);
    transition: ease-out 300ms transform;
    width: 300px;
    z-index: 9999999;
    box-shadow: 0px 10px 10px grey;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-out 500ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    display: flex;
    align-items: start;
    // justify-content: space-around;
    margin-top: 40px;
    margin-left: 20px;
    // gap: 10px;
    flex-direction: column;
    color: black;
    font-size: 16px;
    padding: 16px;
    height: 100%;
}


.history-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
.history-item:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
} 

.history-item.selected-history-item {
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 4px;
}