.header-btn {
    background-color: white;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(200, 200, 200);
    border: 1px #b7b7b7 solid;
    cursor: pointer;
}

.absolute-right {
    position: absolute; 
    right: 0px;
}